header {
    padding: 2rem .75rem;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #ffffff;
}


.container {
  width: min(100%, 900px);

}

h1 {
    font-size: 3rem;
    line-height: 2.75rem;
    margin: 0;
    color: #21243D;
}

.header--pre-title {
    margin: 0;
    font-size: 1.125rem;
    color: #21243D;
}

.header--subtitle {
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #21243DCA;
}

.header--btn {
    background-color: #FF6464;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding: .5rem 1rem;
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    .header--pre-title {
      font-size: 1.5rem;
    }

    h1 {
      font-size: 4.5rem;
      margin: .25rem 0 2rem;
    }

    .header--subtitle,
    .header--btn {
      font-size: 1.25rem;
    }

    .header--btn {
      padding: .75rem 1.5rem;
      margin-top: 3rem;
    }
}