.projetos {
    display: grid;
    place-items: center;
    padding: 2rem .75rem 0;
}

.projetos--title {
    font-size: 2rem;
    color: #0A2A42;
    line-height: 150%;
    margin-bottom: 1.5rem;
  }