html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Inter', sans-serif;
}